@font-face {
  font-family: "Circle";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circle-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Circle";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Intro Script";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Intro_Script_R_H2_Base.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/PlayfairDisplaySC-Bold.woff") format("woff"), url("../fonts/PlayfairDisplaySC-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype");
}
body {
  font-size: 14px;
  line-height: 18px;
  font-family: "Circle", Arial, sans-serif;
  color: #000;
  font-style: normal;
  font-weight: normal;
  background-color: #fbebea;
  margin-right: -1px;
  margin-left: -1px;
  box-sizing: padding-box;
  overflow-x: hidden;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  background-color: #5e42b0;
  border-radius: 38px;
}
.btn:hover {
  box-shadow: 0px 8px 12px 0px rgba(164, 151, 203, 0.5), 0px 8px 14px 0px rgba(184, 151, 203, 0.9);
}
.btn input[type="text"] {
  background-color: #f2f2f2;
}
.btn input[type="text"]:hover {
  background-color: #e5e5e5;
}
.btn input[type="text"]:active {
  background-color: #fff;
  border: 4px #e5e5e5 solid;
}
.btn-social:hover {
  box-shadow: 2px 2px 12px 8px rgba(255, 0, 67, 0.16);
}
.container {
  padding: 0 20px;
  margin: 0;
  box-sizing: padding-box;
}
p {
  font-family: "ProximaNova";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
}
span {
  font-family: "ProximaNova";
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  color: #c1c1c1;
}
h3 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
}
input[type="text"]:focus,
textarea:focus {
  outline: none;
}
@media (min-width: 768px) {
  span {
    font-size: 26px;
    line-height: 48px;
  }
  h3 {
    font-size: 28px;
    line-height: 52px;
    box-sizing: padding-box;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 74px;
    box-sizing: padding-box;
  }
  p {
    font-size: 18px;
    line-height: 32px;
  }
  span {
    font-size: 35px;
    line-height: 67px;
  }
  h3 {
    font-size: 40px;
    line-height: 75px;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background: url("../img/header--mobile.jpg") no-repeat;
  background-size: cover;
  min-height: 570px;
  position: relative;
  /*
	&:after {
		content: "";
		position: absolute;
		width: 222px;
		height: 4px;
		top: 240px;
		left: calc(30%);
		background-color: #5d40ad;
		transform: rotate(-45deg);
	}
*/
}
header .header__logo-and-text {
  display: block;
  margin: 0 auto;
  align-content: center;
}
header .header__logo-and-text img {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
header .header__logo-and-text .header__sub-text {
  display: none;
}
header h2 {
  color: white;
  font-size: 32px;
  text-transform: uppercase;
}
header .header__be {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
  margin-top: 130px;
  z-index: 5;
}
header .header__play {
  display: flex;
  justify-content: flex-end;
  margin-right: -10px;
  line-height: 40px;
  margin-bottom: 110px;
  z-index: 5;
}
header ul {
  order: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
header ul li {
  margin: 5px;
}
header ul li:hover a {
  color: white;
}
header ul li a {
  text-decoration: none;
  color: #9071ea;
}
header .header__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header__btn .header__apple-btn,
header .header__btn .header__google-btn {
  min-width: 140px;
  margin: 35px 0;
  position: relative;
}
header .header__btn .header__apple-btn img,
header .header__btn .header__google-btn img {
  position: absolute;
  top: 16px;
  left: 25px;
}
header .header__btn .header__apple-btn a,
header .header__btn .header__google-btn a {
  text-decoration: none;
  text-align: right;
  color: white;
  line-height: 16px;
  margin: 0;
}
header .header__btn .header__apple-btn img {
  left: 15px;
}
header ul li a {
  font-size: 16px;
}
@media (min-width: 768px) {
  header {
    background: url("../img/header--tablet.jpg") no-repeat;
    background-size: cover;
    min-height: 960px;
  }
  header .header__logo-and-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0;
  }
  header .header__logo-and-text img {
    width: 189px;
    height: 33px;
    display: block;
  }
  header .header__logo-and-text .header__sub-text {
    display: flex;
    color: white;
    font-size: 15px;
    line-height: 40px;
  }
  header .header__be,
  header .header__play {
    font-size: 64px;
    line-height: 70px;
  }
  header .header__be {
    margin-left: 56px;
    margin-top: 190px;
    margin-bottom: 15px;
  }
  header .header__play {
    margin-top: 0;
    margin-right: 56px;
    line-height: 70px;
    margin-bottom: 180px;
  }
  header ul {
    order: 0;
    justify-content: space-between;
  }
  header .header__btn {
    margin-top: 80px;
  }
  header .header__btn .header__google-btn,
  header .header__btn .header__apple-btn {
    width: 312px;
    padding: 20px 0;
    font-size: 14px;
  }
  header .header__btn .header__google-btn img,
  header .header__btn .header__apple-btn img {
    top: 15px;
    left: 50px;
    width: 36px;
    height: 39px;
  }
  header .header__btn .header__apple-btn img {
    top: 15px;
    left: 40px;
    width: 33px;
    height: 37px;
  }
}
@media (min-width: 1200px) {
  header {
    background: url("../img/header--desktop.jpg") no-repeat;
    background-size: cover;
    min-height: 960px;
  }
  header .header__be {
    margin-top: 260px;
  }
  header .header__play {
    margin-bottom: 0px;
  }
  header ul {
    justify-content: flex-end;
  }
  header ul li {
    margin-left: 40px;
  }
  header .header__btn {
    justify-content: center;
    margin-top: 120px;
  }
  header .header__btn .header__apple-btn,
  header .header__btn .header__google-btn {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.athlets {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}
.athlets h2 {
  color: #e7e7e7;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
}
.athlets .athlets__img {
  margin: 0 auto;
  display: block;
}
.athlets .athlets__connection,
.athlets .athlets__collaboration,
.athlets .athlets__growth,
.athlets .athlet__connection,
.athlets .athlet__collaboration,
.athlets .athlet__growth {
  position: relative;
  width: 100%;
  padding: 0 20px;
  box-sizing: padding-box;
}
.athlets .athlets__number {
  position: absolute;
  top: -10px;
  left: 20px;
  text-align: top;
  font-size: 12px;
  font-weight: bold;
}
.athlets .athlets__number:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 14px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e42b0;
}
.athlets span {
  margin-left: 30px;
  text-transform: uppercase;
}
.athlets .athlets__radiobuttons {
  display: block;
  width: 150px;
  padding: 5px;
  margin: 0 auto;
}
.athlets .athlets__radiobuttons input[type="radio"] {
  display: none;
}
.athlets .athlets__radiobuttons .slider-controls {
  width: 110px;
  margin: 0 auto;
}
.athlets .athlets__radiobuttons .slider-controls label {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dddddd;
  margin: 5px;
}
.athlets .athlets__radiobuttons #athlet_1:checked ~ .slider-controls label[for="athlet_1"],
.athlets .athlets__radiobuttons #athlet_2:checked ~ .slider-controls label[for="athlet_2"],
.athlets .athlets__radiobuttons #athlet_3:checked ~ .slider-controls label[for="athlet_3"] {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #5c3caf;
}
.athlets .athlets__connection,
.athlets .athlets__collaboration,
.athlets .athlets__growth {
  display: none;
}
@media (min-width: 768px) {
  .athlets {
    width: 100%;
    position: relative;
  }
  .athlets h2 {
    font-size: 58px;
    margin-top: 85px;
  }
  .athlets img {
    width: 497px;
    height: 699px;
    position: absolute;
    top: 120px;
    left: calc(-183px);
    z-index: 2;
  }
  .athlets .athlets__connection,
  .athlets .athlets__collaboration,
  .athlets .athlets__growth {
    display: block;
    min-height: 205px;
    padding: 0 25px;
    padding-left: 33%;
  }
  .athlets .athlets__radiobuttons {
    display: none;
  }
  .athlets span {
    font-size: 25px;
  }
  .athlets .athlets__number {
    font-size: 15px;
    top: -2px;
    left: 33%;
  }
  .athlets .athlets__number:after {
    top: 20px;
    left: 0;
    width: 14px;
    height: 4px;
    border-radius: 2px;
    background-color: #5e42b0;
  }
  .athlets .athlets__growth {
    background-color: #5e42b0;
    padding-top: 40px;
    padding-bottom: 0px;
    min-height: 170px;
  }
  .athlets .athlets__growth .athlets__number {
    top: 38px;
  }
  .athlets .athlets__growth .athlets__number:after {
    background-color: white;
  }
  .athlets .athlets__growth .athlets__text {
    color: white;
  }
  .athlets .athlet__connection,
  .athlets .athlet__collaboration,
  .athlets .athlet__growth {
    position: absolute;
    left: 6000px;
    top: 0;
  }
}
@media (min-width: 1200px) {
  .athlets {
    position: relative;
  }
  .athlets h2 {
    font-size: 62px;
    margin-top: 110px;
    margin-bottom: 30px;
    margin-left: 50%;
    text-align: left;
  }
  .athlets img {
    width: 678px;
    height: 950px;
    position: absolute;
    top: 45px;
    right: 0;
    left: calc(-10px);
    z-index: 2;
  }
  .athlets span {
    font-size: 26px;
  }
  .athlets .athlets__number {
    top: 0;
    left: 50%;
  }
  .athlets .athlets__number:after {
    top: 27px;
  }
  .athlets .athlets__connection,
  .athlets .athlets__collaboration,
  .athlets .athlets__growth {
    min-height: 50px;
    padding: 60px 200px 60px 50%;
  }
  .athlets .athlets__connection .athlets__number,
  .athlets .athlets__collaboration .athlets__number,
  .athlets .athlets__growth .athlets__number {
    top: 60px;
  }
  .athlets .athlets__growth {
    min-height: 70px;
  }
}
.players {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}
.players h2 {
  color: #e7e7e7;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
}
.players .players__img {
  margin: 0 auto;
  display: block;
}
.players .players__connection,
.players .players__collaboration,
.players .players__growth,
.players .player__connection,
.players .player__collaboration,
.players .player__growth {
  position: relative;
  width: 100%;
  padding: 0 20px;
  box-sizing: padding-box;
}
.players .players__number {
  position: absolute;
  top: -10px;
  left: 20px;
  text-align: top;
  font-size: 12px;
  font-weight: bold;
}
.players .players__number:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 14px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e42b0;
}
.players span {
  margin-left: 30px;
  text-transform: uppercase;
}
.players .players__radiobuttons {
  display: block;
  width: 150px;
  padding: 5px;
  margin: 0 auto;
}
.players .players__radiobuttons input[type="radio"] {
  display: none;
}
.players .players__radiobuttons .slider-controls {
  width: 110px;
  margin: 0 auto;
}
.players .players__radiobuttons .slider-controls label {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dddddd;
  margin: 5px;
}
.players .players__radiobuttons #player_1:checked ~ .slider-controls label[for="player_1"],
.players .players__radiobuttons #player_2:checked ~ .slider-controls label[for="player_2"],
.players .players__radiobuttons #player_3:checked ~ .slider-controls label[for="player_3"] {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #5c3caf;
}
.players .players__connection,
.players .players__collaboration,
.players .players__growth {
  display: none;
}
@media (min-width: 768px) {
  .players {
    width: 100%;
    position: relative;
  }
  .players h2 {
    font-size: 58px;
    margin-top: 85px;
    text-align: left;
  }
  .players img {
    width: 690px;
    height: 565px;
    position: absolute;
    top: -10px;
    right: calc(-183px);
    z-index: 2;
  }
  .players .players__connection,
  .players .players__collaboration,
  .players .players__growth {
    display: block;
    min-height: 205px;
    padding: 0 25px;
    padding-right: 33%;
  }
  .players span {
    font-size: 25px;
  }
  .players .players__number {
    font-size: 15px;
    top: -2px;
    left: 25px;
  }
  .players .players__number:after {
    top: 20px;
    left: 0;
    width: 14px;
    height: 4px;
    border-radius: 2px;
    background-color: #5e42b0;
  }
  .players .players__growth {
    background-color: #090c35;
    padding-top: 40px;
    padding-bottom: 0px;
    min-height: 170px;
  }
  .players .players__growth .players__number {
    top: 38px;
    color: #8765dd;
  }
  .players .players__growth .players__number:after {
    background-color: white;
  }
  .players .players__growth .players__text {
    color: white;
  }
  .players .player__connection,
  .players .player__collaboration,
  .players .player__growth {
    position: absolute;
    left: 6000px;
    top: 0;
  }
  .players .players__radiobuttons {
    display: none;
  }
}
@media (min-width: 1200px) {
  .players {
    position: relative;
  }
  .players h2 {
    font-size: 62px;
    margin-top: 110px;
    margin-bottom: 30px;
    margin-right: 50%;
    text-align: left;
  }
  .players img {
    width: 991px;
    height: 815px;
    position: absolute;
    top: -25px;
    right: 0px;
    left: 40%;
    z-index: 2;
  }
  .players span {
    font-size: 26px;
  }
  .players .players__number {
    top: 0;
    left: 200px;
  }
  .players .players__number:after {
    top: 27px;
  }
  .players .players__connection,
  .players .players__collaboration,
  .players .players__growth {
    min-height: 50px;
    padding: 60px 50% 60px 200px;
  }
  .players .players__connection .players__number,
  .players .players__collaboration .players__number,
  .players .players__growth .players__number {
    top: 60px;
  }
  .players .aplayers__growth {
    min-height: 70px;
  }
}
.be-active .be-active__number {
  width: 100%;
  background: url("../img/be-active--mobile.jpg") no-repeat;
  min-height: 350px;
  background-size: cover;
  position: relative;
}
.be-active .be-active__number p {
  display: block;
  width: 70px;
  height: 44px;
  background: #5e42b0;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 26px;
  position: absolute;
  bottom: -25px;
  left: 20px;
}
.be-active .be-active__number p:after {
  content: "";
  position: absolute;
  top: 47px;
  left: 27px;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #8f7bc8;
}
.be-active .be-active__text {
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 80px;
  position: relative;
}
.be-active .be-active__text h2 {
  color: #e7e7e7;
  font-size: 36px;
  text-transform: uppercase;
  text-align: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.be-active .be-active__text:before {
  position: absolute;
  content: "";
  bottom: 52px;
  left: 20px;
  width: 22px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e3db3;
}
@media (min-width: 768px) {
  .be-active {
    width: 100%;
  }
  .be-active .be-active__number {
    width: 100%;
    background: url("../img/be-active--tablet.jpg") no-repeat;
    background-size: cover;
    position: relative;
    min-height: 590px;
  }
  .be-active .be-active__number p {
    width: 116px;
    height: 66px;
    bottom: -40px;
    left: 32px;
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  .be-active .be-active__number p:after {
    content: "";
    position: absolute;
    top: 63px;
    left: 47px;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #8f7bc8;
  }
  .be-active .be-active__text {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 100px;
  }
  .be-active .be-active__text h2 {
    font-size: 65px;
    text-align: left;
  }
  .be-active .be-active__text:before {
    bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .be-active {
    display: flex;
    flex-direction: row;
  }
  .be-active .be-active__number {
    width: 50%;
    background: url("../img/be-active--desktop.jpg") no-repeat;
    background-size: cover;
    position: relative;
    min-height: 551px;
  }
  .be-active .be-active__number p {
    width: 170px;
    height: 110px;
    bottom: 140px;
    left: 87%;
    padding-top: 60px;
    font-size: 20px;
    font-weight: bold;
  }
  .be-active .be-active__number p:after {
    content: "";
    position: absolute;
    top: 90px;
    left: 73px;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #8f7bc8;
  }
  .be-active h2 {
    font-size: 65px;
    text-align: left;
  }
  .be-active .be-active__text {
    font-size: 24px;
    line-height: 28px;
    margin-left: 130px;
    margin-top: 180px;
  }
  .be-active .be-active__text h2 {
    font-size: 65px;
    text-align: left;
  }
  .be-active .be-active__text p {
    width: 235px;
  }
  .be-active .be-active__text:before {
    bottom: 90px;
    left: 20px;
  }
}
.find-contact .find-contact__number {
  width: 100%;
  background: url("../img/find-contact--mobile.jpg") no-repeat;
  min-height: 350px;
  background-size: cover;
  position: relative;
}
.find-contact .find-contact__number p {
  display: block;
  width: 70px;
  height: 44px;
  background: #5e42b0;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 26px;
  position: absolute;
  bottom: -25px;
  left: 20px;
}
.find-contact .find-contact__number p:after {
  content: "";
  position: absolute;
  top: 47px;
  left: 27px;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #8f7bc8;
}
.find-contact .find-contact__text {
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 80px;
  position: relative;
}
.find-contact .find-contact__text h2 {
  color: #e7e7e7;
  font-size: 36px;
  text-transform: uppercase;
  text-align: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.find-contact .find-contact__text:before {
  position: absolute;
  content: "";
  bottom: 52px;
  left: 20px;
  width: 22px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e3db3;
}
@media (min-width: 768px) {
  .find-contact {
    width: 100%;
  }
  .find-contact .find-contact__number {
    width: 100%;
    background: url("../img/find-contact--tablet.jpg") no-repeat;
    background-size: cover;
    position: relative;
    min-height: 620px;
  }
  .find-contact .find-contact__number p {
    width: 116px;
    height: 66px;
    bottom: -40px;
    left: 32px;
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  .find-contact .find-contact__number p:after {
    content: "";
    position: absolute;
    top: 63px;
    left: 47px;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #8f7bc8;
  }
  .find-contact .find-contact__text {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 100px;
  }
  .find-contact .find-contact__text h2 {
    font-size: 65px;
    text-align: left;
  }
  .find-contact .find-contact__text:before {
    bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .find-contact {
    display: flex;
    flex-direction: row;
  }
  .find-contact .find-contact__number {
    width: 50%;
    background: url("../img/find-contact--desktop.jpg") no-repeat;
    background-size: cover;
    position: relative;
    min-height: 551px;
  }
  .find-contact .find-contact__number p {
    width: 170px;
    height: 110px;
    bottom: 140px;
    left: -12%;
    padding-top: 60px;
    font-size: 20px;
    font-weight: bold;
  }
  .find-contact .find-contact__number p:after {
    content: "";
    position: absolute;
    top: 90px;
    left: 73px;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #8f7bc8;
  }
  .find-contact .find-contact__text {
    font-size: 24px;
    line-height: 28px;
    padding-left: 130px;
    margin-top: 180px;
    order: -1;
    width: 50%;
  }
  .find-contact .find-contact__text h2 {
    font-size: 65px;
    text-align: left;
    line-height: 72px;
  }
  .find-contact .find-contact__text p {
    width: 260px;
  }
  .find-contact .find-contact__text:before {
    bottom: 70px;
    left: 130px;
  }
}
.work-it .work-it__number {
  width: 100%;
  background: url("../img/work-it--mobile.jpg") no-repeat;
  min-height: 350px;
  background-size: cover;
  position: relative;
}
.work-it .work-it__number p {
  display: block;
  width: 70px;
  height: 44px;
  background: #5e42b0;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 26px;
  position: absolute;
  bottom: -25px;
  left: 20px;
}
.work-it .work-it__number p:after {
  content: "";
  position: absolute;
  top: 47px;
  left: 27px;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #8f7bc8;
}
.work-it .work-it__text {
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 80px;
  position: relative;
}
.work-it .work-it__text h2 {
  color: #e7e7e7;
  font-size: 36px;
  text-transform: uppercase;
  text-align: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.work-it .work-it__text:before {
  position: absolute;
  content: "";
  bottom: 52px;
  left: 20px;
  width: 22px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e3db3;
}
@media (min-width: 768px) {
  .work-it {
    width: 100%;
  }
  .work-it .work-it__number {
    width: 100%;
    background: url("../img/work-it--tablet.jpg") no-repeat;
    background-size: cover;
    position: relative;
    min-height: 590px;
  }
  .work-it .work-it__number p {
    width: 116px;
    height: 66px;
    bottom: -40px;
    left: 32px;
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  .work-it .work-it__number p:after {
    content: "";
    position: absolute;
    top: 63px;
    left: 47px;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #8f7bc8;
  }
  .work-it .work-it__text {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 100px;
  }
  .work-it .work-it__text h2 {
    font-size: 65px;
    text-align: left;
  }
  .work-it .work-it__text:before {
    bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .work-it {
    display: flex;
    flex-direction: row;
  }
  .work-it .work-it__number {
    width: 50%;
    background: url("../img/work-it--desktop.jpg") no-repeat;
    background-size: cover;
    position: relative;
    min-height: 551px;
  }
  .work-it .work-it__number p {
    width: 170px;
    height: 110px;
    bottom: 140px;
    left: 87%;
    padding-top: 60px;
    font-size: 20px;
    font-weight: bold;
  }
  .work-it .work-it__number p:after {
    content: "";
    position: absolute;
    top: 90px;
    left: 73px;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #8f7bc8;
  }
  .work-it .work-it__text {
    font-size: 24px;
    line-height: 28px;
    margin-left: 130px;
    margin-top: 180px;
  }
  .work-it .work-it__text h2 {
    font-size: 65px;
    text-align: left;
  }
  .work-it .work-it__text p {
    width: 505px;
  }
  .work-it .work-it__text:before {
    bottom: 90px;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  background: url("../img/header--mobile.jpg") no-repeat;
  background-size: cover;
  min-height: 570px;
  width: 100%;
  padding-top: 95px;
  justify-content: space-around;
}
footer .footer__title {
  display: flex;
  width: 100%;
  flex-direction: column;
}
footer .footer__title .footer__title-img {
  display: block;
  margin: 0 auto;
}
footer .footer__title h2 {
  color: white;
  font-size: 66px;
  line-height: 92px;
  text-transform: uppercase;
  text-align: center;
}
footer .footer__title span {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: -60px;
  margin-bottom: 190px;
  padding: 0;
  font-size: 26px;
  line-height: 32px;
}
footer .footer__title .footer__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: padding-box;
}
footer .footer__title .footer__btn .footer__apple-btn,
footer .footer__title .footer__btn .footer__google-btn {
  min-width: 140px;
  margin: 35px 0;
  position: relative;
}
footer .footer__title .footer__btn .footer__apple-btn img,
footer .footer__title .footer__btn .footer__google-btn img {
  position: absolute;
  top: 16px;
  left: 25px;
}
footer .footer__title .footer__btn .footer__apple-btn a,
footer .footer__title .footer__btn .footer__google-btn a {
  text-decoration: none;
  text-align: right;
  color: white;
  line-height: 16px;
  margin: 0;
}
footer .footer__title .footer__btn .footer__apple-btn img {
  left: 15px;
}
footer .footer__social {
  background-color: #0d1336;
  opacity: 0.8;
  padding: 20px 10px;
  box-sizing: border-box;
  height: 85px;
}
footer .footer__social .footer__logo {
  display: none;
}
footer .footer__social .footer__contacts-us {
  display: none;
}
footer .footer__social ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
  margin: 0 auto;
  align-content: center;
}
footer .footer__social ul li {
  opacity: 1;
}
@media (min-width: 768px) {
  footer {
    background: url("../img/header--tablet.jpg") no-repeat;
    background-size: cover;
    min-height: 520px;
    padding-top: 130px;
  }
  footer .footer__title img {
    width: 130px;
    height: 130px;
    margin-bottom: 85px;
  }
  footer .footer__title h2 {
    font-size: 80px;
  }
  footer .footer__title span {
    font-size: 36px;
  }
  footer .footer__title .footer__btn {
    margin-top: 80px;
  }
  footer .footer__title .footer__btn .footer__google-btn,
  footer .footer__title .footer__btn .footer__apple-btn {
    width: 312px;
    padding: 20px 0;
    font-size: 14px;
  }
  footer .footer__title .footer__btn .footer__google-btn img,
  footer .footer__title .footer__btn .footer__apple-btn img {
    top: 15px;
    left: 50px;
    width: 36px;
    height: 39px;
  }
  footer .footer__title .footer__btn .footer__apple-btn img {
    top: 15px;
    left: 40px;
    width: 33px;
    height: 37px;
  }
  footer .footer__social {
    padding: 30px 10px;
    height: 95px;
    margin-top: 120px;
  }
  footer .footer__social ul .fb img {
    width: 15px;
    height: 27px;
  }
  footer .footer__social ul .tw img {
    width: 27px;
    height: 22px;
  }
  footer .footer__social ul .inst img {
    width: 24px;
    height: 25px;
  }
}
@media (min-width: 1200px) {
  footer {
    background: url("../img/header--desktop.jpg") no-repeat;
    background-size: cover;
    min-height: 720px;
    padding-top: 230px;
    position: relative;
  }
  footer .footer__title .footer__title-img {
    position: absolute;
    top: 230px;
    left: calc(19%);
  }
  footer .footer__title h2 {
    text-align: left;
    margin: 0;
    margin-left: 30%;
  }
  footer .footer__title span {
    text-align: left;
    margin: 0;
    margin-top: 0px;
    margin-left: 30%;
  }
  footer .footer__title .footer__btn {
    margin-top: 160px;
  }
  footer .footer__title .footer__btn .footer__apple-btn,
  footer .footer__title .footer__btn .footer__google-btn {
    margin-left: 30px;
    margin-right: 30px;
  }
  footer .footer__social {
    padding: 30px 45px;
    box-sizing: padding-box;
    height: 95px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .footer__social ul .fb img {
    width: 15px;
    height: 27px;
  }
  footer .footer__social ul .tw img {
    width: 27px;
    height: 22px;
  }
  footer .footer__social ul .inst img {
    width: 24px;
    height: 25px;
  }
  footer .footer__social .footer__logo {
    display: inline-block;
    width: 189px;
    height: 33px;
  }
  footer .footer__social .footer__contacts-us {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */